{
  "redmine": {
    "address": "s01jbs30.sulamerica.br",
    "protocol": "http"
  },
  "user": {
    "id": 6852,
    "login": "robot",
    "auth": "cm9ib3Q6UjNkbTFuMyE="
  },
  "projects": [
    {
      "id": 1,
      "identifier": "suporte"
    }
  ],
  "trackers": [
    { 
      "id": 10,
      "command": "su - a098266 -c 'ls -la'",
      "cf_exec_time_id": 10
    },
    { 
      "id": 11,
      "command": "su - a098266 -c 'pwd'"
    },
    { 
      "id": 12,
      "cf_cmd_id": 12,
      "filters": {
        "cf_5": "s01jbs30"
      }
    }
  ],
  "statuses": {
    "ready": 13,
    "scheduled": 14,
    "execution": 2,
    "completed": 7,
    "canceled": 8
  },
  "loglevel": "DEBUG"
}
