{
  "redmine": {
    "address": "127.0.0.1",
    "protocol": "http"
  },
  "user": {
    "id": 6852,
    "login": "robot",
    "auth": "cmBiMHRQQHNz"
  },
  "projects": [
    {
      "id": 1,
      "identifier": "myprojet"
    }
  ],
  "trackers": [
    { 
      "id": 10,
      "command": "echo '%13'",
      "cf_exec_time_id": 10
    },
    { 
      "id": 11,
      "command": "su - user -c 'pwd'"
    },
    { 
      "id": 12,
      "cf_cmd_id": 12,
      "filters": {
        "cf_5": "value"
      }
    }
  ],
  "statuses": {
    "ready": 13,
    "scheduled": 14,
    "execution": 2,
    "completed": 7,
    "canceled": 8
  },
  "loglevel": "DEBUG",
  "timeLimit": 120
}
